.home {
 /* background-image: url("https://i.pinimg.com/originals/de/e5/5c/dee55cc512a779dc01b3449d1e5b2f36.jpg");
 height: 90vh;
 width: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed; */
}