.footer{
    width: 100%;
    height: 80px;
    /* display: flex; */
    justify-content: center;
    background-color: rgb(250, 250, 250);
    color: rgb(23, 23, 27);
    /* align-items: center; */
    position: sticky;
    top: 100%;
}